
.navbar ul{
    display: flex;
     justify-content: space-between; 
     margin-left: 20%;
     padding-right: 560px;
}
.hero{
    display:flex;
background-color: blueviolet;
border: solid blueviolet;



}
.clothes{
     margin-left:-2%;
    margin-top: 90%;
    color:white;

}
.make{
   color:white;
   margin-left:-53%;
   margin-top: 70%;

}
.selection{
    margin-left: 35%;

}
.weekly{
font-size: 17px;


}
.dresses{
    color:rgb(142, 119, 89);
    font-size: 20px;
    margin-left:-2%;
}
.tops{
    color:rgb(142, 119, 89);
    margin-left:12%;
    margin-top:-5%;
    font-size: 20px;


}
 .girltwo{ 
width: 20%;
margin-top: 1%;
height:74vh;


}
.girlthree{
    width: 20%;
    margin-left: 28%;
    margin-top: -38%;
    height:74vh;

}
.girlfour{
    width: 20%;
    margin-left: 52%;
    margin-top: -38%;
    height:74vh;



}
.girlsix{
    width: 20%;
    margin-left: 78%;
    margin-top: -38%;
    height:78vh;




}
#fi {
margin-top: -2%;


}
#fii{
    /* margin-top:-3% ; */
    margin-left: 28%;
}
#fiii{
    margin-left: 53%;
    margin-top:-7% ;

}

#fiiii{
    margin-left: 80%;
    margin-top:-3% ;

}
.prod{

margin-left: 50%;
padding-right: 55px;
padding-bottom: 25px;
padding-top: 15px;
/* background color: */
padding-left: 35px;
background-color: palevioletred;
color: white;

}
.workout{
    


}
#img2{
    margin-left: 2%;
    width: 38vw;
}
.shopnow{
    display: grid;
    margin-left: 50%;
    margin-top: -45%;
}
#img3{
    width: 45vw;
}
#img4{
    margin-top: 4%;
    width: 45vw;
}
.words{
margin-top: 2%;
margin-left:40%;

}
#spot{
    color:rgb(79, 52, 18)


}


